---
import { Picture } from 'astro:assets';
import { getAnchor } from '../../configs/navigation.js';
import Button from '../common/Button.astro';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import gal01 from '/src/assets/gallery2023/gal01.jpg';
import gal02 from '/src/assets/gallery2023/gal02.jpg';
import gal03 from '/src/assets/gallery2023/gal03.jpg';
import gal04 from '/src/assets/gallery2023/gal04.jpg';
import gal05 from '/src/assets/gallery2023/gal05.jpg';
import gal06 from '/src/assets/gallery2023/gal06.jpg';

const images = [
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/ADCreHem55P3a_f5EfY6TWW27ONJMGOlnOhAuEIaVJXEdaRbdrNg-aeLZy7CDcK8_mvLzuisUjvaDJsPeN-fjcl_w0ma1K2XtnSNGF9Vj7p27cNc--L4Xz-I54__slRaCDminvTqQvCTmxetevd41-k45pp1=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        src: gal01,
        alt: 'Chvílemi se na startu Štrapandy tvořily fronty',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/ADCreHcENX3dXsGKqSi437HsccwrSg6Woj0qI5vY4RI-jrP1ny0RpG0m2JtreICR-iDbANyAl08mJB3V-Uk19UtBuLpakk-MiWyeRDXlatCthCvUqoaDqD-20JNyCHht7vdUntCYKDCQ8i8s9AeMmpg5KPJx=w1200-h797-s-no',
        width: 1200,
        height: 797,
      },
      thumbnail: {
        src: gal02,
        alt: 'Pro znavené účastníky bylo připraveno posezení',
      },
    },
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/ADCreHfMmfqP-5qABUEHQ7Gol6OQzMs58i4DRnM2JaJb-nfZur-ST0wbe4p1krN7t25PlNrPBoMNDbi2KhBrGvFdpOnDyCdSJaxjPyg2tNQAR4LhaLnuhBaIH5JzAF7Exchix8K9BaSR7oTFyIdVObECr6Hr=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        src: gal03,
        alt: 'Děti i dospělí, kteří pochod dokončili si mohli upéct špekáčky',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/ADCreHfiwGQHwal84hSMXu4vxhd2p8l5triFZWUhlnzscNZCbFjS6Inx8tcI1JxmEKKjY1y7QjFCbpCBxL8ndFtVBGphg2KF3yC8Oc1MgAqLS4qPM-x0mAzlp0AlH0xd4l1xTv9I70pghw4KpId-7vye0iKt=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        src: gal04,
        alt: 'Naši dobrovolníci jsou vždy připraveni poradit',
      },
    },
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/ADCreHcL2_WLmP-UTBMjfRp8bfx4b2Fc739HNcoxBlTozL51T6CdCojEWjk9VecTVnj0xIzHWXQFUmpZy_N8kwl96TEXh24LJLXiJwn9O6JFfTD0CeYTVvuplHKFysrvbINgd0Gm4KSgvNmfCgE4oWsMka48=w1200-h797-s-no',
        width: 1200,
        height: 797,
      },
      thumbnail: {
        src: gal05,
        alt: 'Prezence na startu Provodínské Štrapandy 2023',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/ADCreHf6BbHovmrqF7ki1ZTdXTj5ZteWuUA5YM1kxsMiAoKYLLygSMjIjxiSPlDGr0P0TYM4hVaJUeL8a-fJ81Qno8B1jxjNxky8TrYhaIL0lGJXFc6TKjnDLvo0gMYPuLZ3TU37R6GBccSo2rNmjylCuAPe=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        src: gal06,
        alt: 'K Provodínské Štrapandě tradičně patří i výborné jídlo',
      },
    },
  ],
];
const anchor = getAnchor('gallery');
---

<Section id={anchor} gradient="bottom">
  <SectionHeader title="Štrapanda 2023 v obrazech" id={anchor} />

  <div class="gallery" id="gallery">
    {
      images.map((group) => (
        <div class="gallery-group">
          {group.map(({ original, thumbnail }) => (
            <a
              href={original.href}
              data-pswp-width={original.width}
              data-pswp-height={original.height}
              class="gallery-link"
            >
              <Picture
                src={thumbnail.src}
                alt={thumbnail.alt}
                class="gallery-image"
                widths={[264, 480]}
                sizes="(max-width: 480px) 100vw, 264px"
                width={thumbnail.src.width / 2}
                height={thumbnail.src.height / 2}
                decoding="async"
                loading="lazy"
                fetchpriority="low"
                formats={['avif', 'webp', 'jpeg']}
              />
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <div class="links">
    <Button href="https://photos.app.goo.gl/12VgAGftNK91aUp89">
      Všechny fotky ze Štrapandy 2023
    </Button>
    <Button href="https://photos.app.goo.gl/cDPQGBicLJY8gJ2TA">
      Z dalších akcí
    </Button>
  </div>
  <script>
    import '../../scripts/load-gallery.ts';
  </script>
</Section>

<style>
  :root {
    --galleryDisplay: block;
    --galleryGap: 1.5rem;
    --galleryCollumnsCount: 1;
    --galleryDirection: column;
    --linksDirection: column;
  }
  @media screen and (min-width: 40rem) {
    :root {
      --galleryCollumnsCount: 2;
      --linksDirection: column;
    }
  }
  @media screen and (min-width: 48rem) {
    :root {
      --galleryGap: 3rem;
    }
  }
  @media screen and (min-width: 64rem) {
    :root {
      --galleryDisplay: flex;
      --galleryDirection: row;
    }
  }
  .links {
    display: flex;
    gap: var(--galleryGap);
    flex-direction: var(--linksDirection);
    align-items: center;
    justify-content: center;
  }
  .gallery {
    display: var(--galleryDisplay);
    gap: var(--galleryGap);
    flex-direction: var(--galleryDirection);
    justify-content: center;
    align-items: center;
    column-count: var(--galleryCollumnsCount);
    column-gap: var(--galleryGap);
    margin: 0 auto;
  }
  .gallery :global(> * + *) {
    margin-top: var(--galleryGap);
  }
  .gallery-group {
    display: flex;
    flex: 0 1 16.5rem;
    max-width: 16.5rem;
    flex-direction: column;
    gap: var(--galleryGap);
  }
  :global(.gallery-image) {
    border-radius: var(--radiiLg);
    box-shadow: var(--shadow);
    transition: all var(--transition) ease-in-out;
  }
  .gallery-link {
    border-radius: var(--radiiLg);
  }
  .gallery-link:hover :global(.gallery-image),
  .gallery-link:focus-visible :global(.gallery-image) {
    transform: scale(1.05);
  }
  .gallery-link:focus-visible :global(.gallery-image) {
    outline: 4px solid var(--interactionPrimaryOutline);
  }
  .gallery-link:focus {
    outline: none;
  }
</style>
<style is:global>
  .pswp--open .pswp__bg {
    background-color: #000000ee;
  }
  .pswp--open .pswp__button {
    color: var(--colorText);
    cursor: pointer;
    opacity: 1;
  }
  .pswp--open .pswp__button:hover {
    color: var(--interactionPrimaryColorHover);
  }
  .pswp--open .pswp__button:focus-visible {
    outline: none;
    color: var(--interactionPrimaryColorFocus);
  }
  .pswp--open .pswp__button:active {
    color: var(--interactionPrimaryColorActive);
  }
</style>
