---
import { Picture } from 'astro-imagetools/components';
import { getAnchor } from '../../configs/navigation.js';
import Button from '../common/Button.astro';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';

const images = [
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AIL4fc894beW1tTchPi03Qn7V_AC-q6KVAdyTLE8TmAFb7B1nURNJIrt-efzyTo5QF2Fi5J_fXFTuY57q4rrCy03kkcsn0j7QPQyr7LVK22wPe79zARrwRI1l4QyJcgxtEHJcmIV4jzwtrq2nHL5Ohe63c1C=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        width: 264,
        height: 480,
        src: '/src/assets/gallery2023/gal01.jpg',
        alt: 'Chvílemi se na startu Štrapandy tvořily fronty',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AIL4fc_q9znM-QFbkUdV7lDyGcaah3CRJwRx6MbiWo3K3nWwWpLdrQoc6U1AXCoihxM3wn__O40zOJOYaUmA7ibBu7kkfakPz4dgbLow4uSsFk4ZFgK9DfErvqKrYFfQ9gbkkD5adSF6wAvr70C9mh9l7muC=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        width: 264,
        height: 384,
        src: '/src/assets/gallery2023/gal02.jpg',
        alt: 'Pro znavené účastníky bylo připraveno posezení',
      },
    },
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AIL4fc_q9znM-QFbkUdV7lDyGcaah3CRJwRx6MbiWo3K3nWwWpLdrQoc6U1AXCoihxM3wn__O40zOJOYaUmA7ibBu7kkfakPz4dgbLow4uSsFk4ZFgK9DfErvqKrYFfQ9gbkkD5adSF6wAvr70C9mh9l7muC=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        width: 264,
        height: 384,
        src: '/src/assets/gallery2023/gal03.jpg',
        alt: 'Děti i dospělí, kteří pochod dokončili si mohli upéct špekáčky',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AIL4fc_Fw02_x_gNGn8nsr5bezNak_667j9YPT7-9Ha2WBFS_4o1cKx4GC2Fr3zy-3TVUI3r2D1nyjsW4bHk_N0N6GTD_pO9BSCRXL6UobFZtUaSZAcLA3ZJj4eh8uD7Ak_SUHCVf74uPAVOxIx34_de_g2x=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        width: 264,
        height: 456,
        src: '/src/assets/gallery2023/gal04.jpg',
        alt: 'Naši dobrovolníci jsou vždy připraveni poradit',
      },
    },
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AIL4fc_bVLOxcmigtq5WGMa_RFVM6W7Fbx3Yjeih199j-4c0Yf0JYJb2PGyNWj0LLKi0zEvHBDekbpdgt3bbJ3fwg6pujxRuMG5NOP-7gj_0dHCJjoxCsT_B7xXKDjL6RvjugSe9jWo4tKVuzWw5rjiwhJ8G=w1200-h797-s-no',
        width: 1200,
        height: 797,
      },
      thumbnail: {
        width: 264,
        height: 264,
        src: '/src/assets/gallery2023/gal05.jpg',
        alt: 'Prezence na startu Provodínské Štrapandy 2023',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AIL4fc-i-ehs302gQquUqh3puSTT-whr1Ty9og18TR1cJkPXHlkraX-Pn6uNdYC5VD0PYrYhwckn4Whx8_lHd2kxY23ECtSpi6hW9QyZ17EPfsqTnxf_rqkL2pHoXbWuFKxgoYG8d3xoOyDf3BpHEQTIRKHp=w797-h1200-s-no',
        width: 797,
        height: 1200,
      },
      thumbnail: {
        width: 264,
        height: 432,
        src: '/src/assets/gallery2023/gal06.jpg',
        alt: 'K Provodínské Štrapandě tradičně patří i výborné jídlo',
      },
    },
  ],
];
const anchor = getAnchor('gallery');
---

<Section id={anchor} gradient="top">
  <SectionHeader title="Štrapanda 2023 v obrazech" id={anchor} />

  <div class="gallery" id="gallery">
    {
      images.map((group) => (
        <div class="gallery-group">
          {group.map(({ original, thumbnail }) => (
            <a
              href={original.href}
              data-pswp-width={original.width}
              data-pswp-height={original.height}
              class="gallery-link"
            >
              <Picture
                attributes={{
                  img: { class: 'gallery-image' },
                }}
                src={thumbnail.src}
                alt={thumbnail.alt}
                sizes="(max-width: 480px) 100vw, 264px"
                w={thumbnail.width}
                h={thumbnail.height}
              />
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <div class="links">
    <Button
      href="https://photos.google.com/u/1/share/AF1QipP40mXogLjyWXP8y1SgI4ObAUHh4tGxofhiSAZAwfS888kELHGC76wRyG7c-FDsOw?key=MGpzaWFWaUNiblJyN1BYWERBUzdVOXdXY2RpSHFB"
    >
      Všechny fotky ze Štrapandy 2023
    </Button>
    <Button href="https://photos.app.goo.gl/cDPQGBicLJY8gJ2TA">
      Z dalších akcí
    </Button>
  </div>
  <script>
    import '../../scripts/load-gallery.ts';
  </script>
</Section>

<style>
  :root {
    --galleryDisplay: block;
    --galleryGap: 1.5rem;
    --galleryCollumnsCount: 1;
    --galleryDirection: column;
    --linksDirection: column;
  }
  @media screen and (min-width: 40rem) {
    :root {
      --galleryCollumnsCount: 2;
      --linksDirection: column;
    }
  }
  @media screen and (min-width: 48rem) {
    :root {
      --galleryGap: 3rem;
    }
  }
  @media screen and (min-width: 64rem) {
    :root {
      --galleryDisplay: flex;
      --galleryDirection: row;
    }
  }
  .links {
    display: flex;
    gap: var(--galleryGap);
    flex-direction: var(--linksDirection);
    align-items: center;
    justify-content: center;
  }
  .gallery {
    display: var(--galleryDisplay);
    gap: var(--galleryGap);
    flex-direction: var(--galleryDirection);
    justify-content: center;
    align-items: center;
    column-count: var(--galleryCollumnsCount);
    column-gap: var(--galleryGap);
    margin: 0 auto;
  }
  .gallery :global(> * + *) {
    margin-top: var(--galleryGap);
  }
  .gallery-group {
    display: flex;
    flex: 0 1 16.5rem;
    max-width: 16.5rem;
    flex-direction: column;
    gap: var(--galleryGap);
  }
  :global(.gallery-image) {
    border-radius: var(--radiiLg);
    box-shadow: var(--shadow);
    transition: all var(--transition) ease-in-out;
  }
  .gallery-link {
    border-radius: var(--radiiLg);
  }
  .gallery-link:hover :global(.gallery-image),
  .gallery-link:focus-visible :global(.gallery-image) {
    transform: scale(1.05);
  }
  .gallery-link:focus-visible :global(.gallery-image) {
    outline: 4px solid var(--interactionPrimaryOutline);
  }
  .gallery-link:focus {
    outline: none;
  }
</style>
<style is:global>
  .pswp--open .pswp__bg {
    background-color: #000000ee;
  }
  .pswp--open .pswp__button {
    color: var(--colorText);
    cursor: pointer;
    opacity: 1;
  }
  .pswp--open .pswp__button:hover {
    color: var(--interactionPrimaryColorHover);
  }
  .pswp--open .pswp__button:focus-visible {
    outline: none;
    color: var(--interactionPrimaryColorFocus);
  }
  .pswp--open .pswp__button:active {
    color: var(--interactionPrimaryColorActive);
  }
</style>
