---
import { Picture } from 'astro:assets';
import { getAnchor } from '../../configs/navigation.js';
import Button from '../common/Button.astro';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import gal01 from '/src/assets/gallery2024/gal01.jpg';
import gal02 from '/src/assets/gallery2024/gal02.jpg';
import gal03 from '/src/assets/gallery2024/gal03.jpg';
import gal04 from '/src/assets/gallery2024/gal04.jpg';
import gal05 from '/src/assets/gallery2024/gal05.jpg';
import gal06 from '/src/assets/gallery2024/gal06.jpg';
import gal01full from '/src/assets/gallery2024/full/gal01.jpg?url';
import gal02full from '/src/assets/gallery2024/full/gal02.jpg?url';
import gal03full from '/src/assets/gallery2024/full/gal03.jpg?url';
import gal04full from '/src/assets/gallery2024/full/gal04.jpg?url';
import gal05full from '/src/assets/gallery2024/full/gal05.jpg?url';
import gal06full from '/src/assets/gallery2024/full/gal06.jpg?url';

const images = [
  [
    {
      original: {
        href: gal01full,
        width: 1000,
        height: 667,
      },
      thumbnail: {
        src: gal01,
        alt: 'Prezence na startu Provodínské Štrapandy 2023',
      },
    },
  ],
  [
    {
      original: {
        href: gal02full,
        width: 1000,
        height: 667,
      },
      thumbnail: {
        src: gal02,
        alt: 'Naši dobrovolníci jsou vždy připraveni poradit',
      },
    },
    {
      original: {
        href: gal03full,
        width: 1000,
        height: 667,
      },
      thumbnail: {
        src: gal03,
        alt: 'V cíli bylo o zábavu postaráno',
      },
    },
  ],
  [
    {
      original: {
        href: gal04full,
        width: 667,
        height: 1000,
      },
      thumbnail: {
        src: gal04,
        alt: 'Petr Podrázký, předseda KČT Provodín a hlavní organizátor Provodínské Štrapandy',
      },
    },
    {
      original: {
        href: gal05full,
        width: 1000,
        height: 667,
      },
      thumbnail: {
        src: gal05,
        alt: 'Pro znavené účastníky bylo připraveno posezení',
      },
    },
  ],
  [
    {
      original: {
        href: gal06full,
        width: 1000,
        height: 667,
      },
      thumbnail: {
        src: gal06,
        alt: 'Účastníci na trati',
      },
    },
  ],
];
const anchor = getAnchor('gallery');
---

<Section id={anchor} gradient="top">
  <SectionHeader title="Štrapanda 2024 v obrazech" id={anchor} />

  <div class="gallery" id="gallery">
    {
      images.map((group) => (
        <div class="gallery-group">
          {group.map(({ original, thumbnail }) => (
            <a
              href={original.href}
              data-pswp-width={original.width}
              data-pswp-height={original.height}
              class="gallery-link"
            >
              <Picture
                src={thumbnail.src}
                alt={thumbnail.alt}
                class="gallery-image"
                widths={[264, 480]}
                sizes="(max-width: 480px) 100vw, 264px"
                width={thumbnail.src.width / 2}
                height={thumbnail.src.height / 2}
                decoding="async"
                loading="lazy"
                fetchpriority="low"
                formats={['avif', 'webp', 'jpeg']}
              />
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <div class="links">
    <Button href="https://eu.zonerama.com/PetrP/Album/11613397">
      Všechny fotky ze Štrapandy 2024
    </Button>
    <a href="https://photos.app.goo.gl/12VgAGftNK91aUp89">
      Provodinská Štrapanda 2023
    </a>
    <a href="https://photos.app.goo.gl/cDPQGBicLJY8gJ2TA"> Z dalších akcí </a>
  </div>
  <script>
    import '../../scripts/load-gallery.ts';
  </script>
</Section>

<style>
  :root {
    --galleryDisplay: block;
    --galleryGap: 1.5rem;
    --galleryCollumnsCount: 1;
    --galleryDirection: column;
    --linksDirection: column;
  }
  @media screen and (min-width: 40rem) {
    :root {
      --galleryCollumnsCount: 2;
      --linksDirection: column;
    }
  }
  @media screen and (min-width: 48rem) {
    :root {
      --galleryGap: 3rem;
    }
  }
  @media screen and (min-width: 64rem) {
    :root {
      --galleryDisplay: flex;
      --galleryDirection: row;
    }
  }
  .links {
    display: flex;
    gap: var(--galleryGap);
    flex-direction: var(--linksDirection);
    align-items: center;
    justify-content: center;
  }
  .gallery {
    display: var(--galleryDisplay);
    gap: var(--galleryGap);
    flex-direction: var(--galleryDirection);
    justify-content: center;
    align-items: center;
    column-count: var(--galleryCollumnsCount);
    column-gap: var(--galleryGap);
    margin: 0 auto;
  }
  .gallery :global(> * + *) {
    margin-top: var(--galleryGap);
  }
  .gallery-group {
    display: flex;
    flex: 0 1 16.5rem;
    max-width: 16.5rem;
    flex-direction: column;
    gap: var(--galleryGap);
  }
  :global(.gallery-image) {
    border-radius: var(--radiiLg);
    box-shadow: var(--shadow);
    transition: all var(--transition) ease-in-out;
  }
  .gallery-link {
    border-radius: var(--radiiLg);
  }
  .gallery-link:hover :global(.gallery-image),
  .gallery-link:focus-visible :global(.gallery-image) {
    transform: scale(1.05);
  }
  .gallery-link:focus-visible :global(.gallery-image) {
    outline: 4px solid var(--interactionPrimaryOutline);
  }
  .gallery-link:focus {
    outline: none;
  }
</style>
<style is:global>
  .pswp--open .pswp__bg {
    background-color: #000000ee;
  }
  .pswp--open .pswp__button {
    color: var(--colorText);
    cursor: pointer;
    opacity: 1;
  }
  .pswp--open .pswp__button:hover {
    color: var(--interactionPrimaryColorHover);
  }
  .pswp--open .pswp__button:focus-visible {
    outline: none;
    color: var(--interactionPrimaryColorFocus);
  }
  .pswp--open .pswp__button:active {
    color: var(--interactionPrimaryColorActive);
  }
</style>
