---
import { Picture } from 'astro-imagetools/components';
import { getAnchor } from '../../configs/navigation.js';
import Button from '../common/Button.astro';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';

const images = [
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AMWts8CRtL_KZDxLrq5bYUu_3bPwZWJqMQQdp9xPRctj3Jty4FpWFuHeia6lVRyYnw1BUPpopkM788EMCWSWNQ8syxiB_qfq1YiIgv1DkgFqC1Llwq64Yzf3iiFnkG_XgVRDNSgNmyWTVm39IW0Uzr9Cylj7=w812-h1212-no',
        width: 812,
        height: 1212,
      },
      thumbnail: {
        width: 264,
        height: 480,
        src: '/src/assets/gallery/gal01.jpg',
        alt: 'Kontrolní bod na Husí cestě',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AMWts8CjyL-qTjF7z8gJlGtJmd6oWfgbRzR0_GNxy6CL7o8G7M8-GSyeTIisg-SLFgnvR907cHepAlb7vGvqNTdj6jsUDYdPS9MM2WAs58qinwxhEs4mQR8_TWj3ZEaididYdAFDGSjVrtGQOz5N69YinZMN=w812-h1212-no',
        width: 812,
        height: 1212,
      },
      thumbnail: {
        width: 264,
        height: 384,
        src: '/src/assets/gallery/gal02.jpg',
        alt: 'Výlet do Saského Švýcarska - Kurort Rathen',
      },
    },
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AMWts8A_DnPklK_urqq3ywE3KXoFl9kgqGOGNP4hrA3PuWeRGLEw5QgmEVrKeSScqDLiHaZT_07epZuM6vYClDCe1-sOUiG-WV-4mdQqNfjV0Xk4lSuV2nsthJq0AZhGcoCLDGTBaW6EnE3ALl_ZypTgUzB1=w869-h1200-no',
        width: 869,
        height: 1200,
      },
      thumbnail: {
        width: 264,
        height: 384,
        src: '/src/assets/gallery/gal03.jpg',
        alt: 'Propozice Provodínské Štrapandy z roku 1982',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AMWts8BqUFNc0M9CzIgwSX3elotbkB6l6T0NEozFVBGsujdfXRAmK4z_fXdHFtpCJBujfOAkrWiThIia2Xe9DL1GBzCfZ4PXMmxRzYJTLPT5Uysx8gz5JGdNi3l9H9cwXi3Wo0QBqwJuguyV_hz03H0jRq-3=w1212-h812-no',
        width: 1212,
        height: 812,
      },
      thumbnail: {
        width: 264,
        height: 456,
        src: '/src/assets/gallery/gal04.jpg',
        alt: 'Členévé Turistického Oddílu Mládeže na výletě',
      },
    },
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AMWts8CDS6GstMUJpVPsozzJi_3VduojT7bWLilh8kPoX0HV9MWbnh0ncdmDfU3zr7hUzOqUGYvezUcNhF9FmaPvWien3OSbQ2NKlUfmjYyNdZNOeuEkdQCycwaWc_PDTAocUvu_jRxwHNWp8ZexR8NeX1Zw=w1212-h812-no',
        width: 1212,
        height: 812,
      },
      thumbnail: {
        width: 264,
        height: 264,
        src: '/src/assets/gallery/gal05.jpg',
        alt: 'Výlet do Sobotky v roce 1992',
      },
    },
  ],
  [
    {
      original: {
        href: 'https://lh3.googleusercontent.com/pw/AMWts8Bu2ljwHIlg_bWdXtzoAFWb6unpC4bhjgYYidEpx1tdjfW5DoKbOtafuM9IHf_ypX9Vl3eItEyepOTcgBynz-zSn0wOTkLdnXEwqpleLID0HujeloH3QoYLHOhhhNCZy-pCBpm2cOC3bgoHrINWm7qR=w810-h1210-no',
        width: 810,
        height: 1210,
      },
      thumbnail: {
        width: 264,
        height: 432,
        src: '/src/assets/gallery/gal06.jpg',
        alt: 'Dohled nad hladkým průběhem Provodínské Štrapandy',
      },
    },
  ],
];
const anchor = getAnchor('gallery');
---

<Section id={anchor} gradient="top">
  <SectionHeader title="Štrapanda v obrazech" id={anchor} />

  <div class="gallery" id="gallery">
    {
      images.map((group) => (
        <div class="gallery-group">
          {group.map(({ original, thumbnail }) => (
            <a
              href={original.href}
              data-pswp-width={original.width}
              data-pswp-height={original.height}
              class="gallery-link"
            >
              <Picture
                attributes={{
                  img: { class: 'gallery-image' },
                }}
                src={thumbnail.src}
                alt={thumbnail.alt}
                sizes="(max-width: 480px) 100vw, 264px"
                w={thumbnail.width}
                h={thumbnail.height}
              />
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <div class="links">
    <Button href="https://photos.app.goo.gl/ahg39tqDGVb8ewGB7">
      Více ze Štrapandy
    </Button>
    <Button href="https://photos.app.goo.gl/cDPQGBicLJY8gJ2TA">
      Více z TOMu
    </Button>
  </div>
  <script>
    import '../../scripts/load-gallery.ts';
  </script>
</Section>

<style>
  :root {
    --galleryDisplay: block;
    --galleryGap: 1.5rem;
    --galleryCollumnsCount: 1;
    --galleryDirection: column;
    --linksDirection: column;
  }
  @media screen and (min-width: 40rem) {
    :root {
      --galleryCollumnsCount: 2;
      --linksDirection: row;
    }
  }
  @media screen and (min-width: 48rem) {
    :root {
      --galleryGap: 3rem;
    }
  }
  @media screen and (min-width: 64rem) {
    :root {
      --galleryDisplay: flex;
      --galleryDirection: row;
    }
  }
  .links {
    display: flex;
    gap: var(--galleryGap);
    flex-direction: var(--linksDirection);
    align-items: center;
    justify-content: center;
  }
  .gallery {
    display: var(--galleryDisplay);
    gap: var(--galleryGap);
    flex-direction: var(--galleryDirection);
    justify-content: center;
    align-items: center;
    column-count: var(--galleryCollumnsCount);
    column-gap: var(--galleryGap);
    margin: 0 auto;
  }
  .gallery :global(> * + *) {
    margin-top: var(--galleryGap);
  }
  .gallery-group {
    display: flex;
    flex: 0 1 16.5rem;
    max-width: 16.5rem;
    flex-direction: column;
    gap: var(--galleryGap);
  }
  :global(.gallery-image) {
    border-radius: var(--radiiLg);
    box-shadow: var(--shadow);
    transition: all var(--transition) ease-in-out;
  }
  .gallery-link {
    border-radius: var(--radiiLg);
  }
  .gallery-link:hover :global(.gallery-image),
  .gallery-link:focus-visible :global(.gallery-image) {
    transform: scale(1.05);
  }
  .gallery-link:focus-visible :global(.gallery-image) {
    outline: 4px solid var(--interactionPrimaryOutline);
  }
  .gallery-link:focus {
    outline: none;
  }
</style>
<style is:global>
  .pswp--open .pswp__bg {
    background-color: #000000ee;
  }
  .pswp--open .pswp__button {
    color: var(--colorText);
    cursor: pointer;
    opacity: 1;
  }
  .pswp--open .pswp__button:hover {
    color: var(--interactionPrimaryColorHover);
  }
  .pswp--open .pswp__button:focus-visible {
    outline: none;
    color: var(--interactionPrimaryColorFocus);
  }
  .pswp--open .pswp__button:active {
    color: var(--interactionPrimaryColorActive);
  }
</style>
