---
import { getAnchor } from '../../configs/navigation.js';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import Stack from '../common/Stack.astro';
import Switcher from '../common/Switcher.astro';
import Track from '../common/Track.astro';

interface TrackType {
  data: {
    length: number;
    map?: string;
  };
  body: string;
}
const anchor = getAnchor('tracks');
const hikingTracks: TrackType[] = [
  {
    data: {
      length: 7,
      // map: 'https://mapy.cz/s/gadumocoja',
    },
    body: 'Provodín — u obory — Pod Spící Pannou — Provodín',
  },
  {
    data: {
      length: 17,
      // map: 'https://mapy.cz/s/fududesose',
    },
    body: '​Provodín — Jestřebí — Dlouhý hřeben — Zahrádky — Karasy — Provodín',
  },
  {
    data: {
      length: 27,
      // map: 'https://mapy.cz/s/pagacofope',
    },
    body: 'Provodín — Jestřebí — Dlouhý hřeben — Zahrádky — Kvítkov — Doksy — Zahrádky — Karasy — Provodín',
  },
];
const bikingTracks: TrackType[] = [
  {
    data: {
      length: 20,
      // map: 'https://mapy.cz/s/nehopofopa',
    },
    body: 'Provodín — Senná brána — Veselí — Srní — Provodín',
  },
  {
    data: {
      length: 42,
      // map: 'https://mapy.cz/s/hulucomure',
    },
    body: 'Provodín — Břehyně — Kuřivody — Hradčany — Senná brána — Provodín',
  },
  {
    data: {
      length: 60,
      // map: 'https://mapy.cz/s/nanunuledo',
    },
    body: 'Provodín — Břehyně — Vrchbělá — Kuřivody — Hvězdov — Hradčany — Senná brána — Provodín',
  },
];
---

<Section id={anchor} gradient="bottom">
  <SectionHeader title="Trasy" />
  <Stack gutter="s4" justify="normal">
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        hikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type="hike"
            map={track.data.map}
            description={track.body}
          />
        ))
      }
    </Switcher>
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        bikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type="bike"
            map={track.data.map}
            description={track.body}
          />
        ))
      }
    </Switcher>
  </Stack>
</Section>
