---
import { getAnchor } from '../../configs/navigation.js';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import Stack from '../common/Stack.astro';
import Switcher from '../common/Switcher.astro';
import Track from '../common/Track.astro';

interface TrackType {
  data: {
    length: number;
    map?: string;
  };
  body: string;
}
const anchor = getAnchor('tracks');
const hikingTracks: TrackType[] = [
  {
    data: {
      length: 7,
      map: 'https://mapy.com/s/nufecuduvo',
    },
    body: 'Provodín — Spící panna — Provodín',
  },
  {
    data: {
      length: 17,
      map: 'https://mapy.com/s/hojahujepu',
    },
    body: 'Provodín — Zahrádky — Provodín',
  },
  {
    data: {
      length: 28,
      map: 'https://mapy.com/s/hehumezejo',
    },
    body: 'Provodín — Zahrádky — Kvítkov —Zahrádky — Provodín',
  },
];
const bikingTracks: TrackType[] = [
  {
    data: {
      length: 20,
      map: 'https://mapy.com/s/cobavecoke',
    },
    body: 'Provodín — Kumerská cesta — Srní — Provodín',
  },
  {
    data: {
      length: 40,
      map: 'https://mapy.com/s/nulefopeve',
    },
    body: 'Provodín — Kuřivody — Hradčany — Provodín',
  },
  {
    data: {
      length: 60,
      map: 'https://mapy.com/s/cocoseromo',
    },
    body: 'Provodín — Bezděz — Vrchbělá — Kuřivody — Hradčany — Provodín',
  },
];
---

<Section id={anchor} gradient="bottom">
  <SectionHeader title="Trasy" />
  <Stack gutter="s4" justify="normal">
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        hikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type="hike"
            map={track.data.map}
            description={track.body}
          />
        ))
      }
    </Switcher>
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        bikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type="bike"
            map={track.data.map}
            description={track.body}
          />
        ))
      }
    </Switcher>
  </Stack>
</Section>
