---
import { getAnchor } from '../../configs/navigation.js';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import Stack from '../common/Stack.astro';
import Switcher from '../common/Switcher.astro';
import Track from '../common/Track.astro';

interface TrackType {
  data: {
    length: number;
    map?: string;
  };
  body: string;
}
const anchor = getAnchor('tracks');
const hikingTracks: TrackType[] = [
  {
    data: {
      length: 10,
      map: 'https://mapy.cz/s/gadumocoja',
    },
    body: 'Provodín — Staré Splavy — Provodín',
  },
  {
    data: {
      length: 16,
      map: 'https://mapy.cz/s/fududesose',
    },
    body: '​Provodín — Jestřebí — Braniborská jeskyně — Staré Splavy — Provodín',
  },
  {
    data: {
      length: 28,
      map: 'https://mapy.cz/s/pagacofope',
    },
    body: 'Provodín — Jestřebí — Braniborská jeskyně — Staré Splavy — Doksy — Břehyně — Borný — St. Splavy — Provodín',
  },
];
const bikingTracks: TrackType[] = [
  {
    data: {
      length: 20,
      map: 'https://mapy.cz/s/nehopofopa',
    },
    body: 'Provodín — Srní — Okřešice — Sosnová — Zahrádky — Provodín',
  },
  {
    data: {
      length: 42,
      map: 'https://mapy.cz/s/hulucomure',
    },
    body: 'Provodín — Senná brána — Veselí — Okřešice — Sosnová — Dubice — Kozly — Malý Bor — Holany — Borek — Zahrádky — Provodín',
  },
  {
    data: {
      length: 60,
      map: 'https://mapy.cz/s/nanunuledo',
    },
    body: 'Provodín — Senná brána — Veselí — Okřešice — Sosnová — Dubice — Kozly — Taneček — Kravaře — Blíževedly — Holany — Zahrádky — Provodín',
  },
];
---

<Section id={anchor} gradient="bottom">
  <SectionHeader title="Trasy pochodu" />
  <Stack gutter="s4" justify="normal">
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        hikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type="hike"
            map={track.data.map}
            description={track.body}
          />
        ))
      }
    </Switcher>
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        bikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type="bike"
            map={track.data.map}
            description={track.body}
          />
        ))
      }
    </Switcher>
  </Stack>
</Section>
