---
import type { CollectionEntry} from 'astro:content';
import { getCollection } from 'astro:content';
import { getAnchor } from '../../configs/navigation.js';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import Stack from '../common/Stack.astro';
import Switcher from '../common/Switcher.astro';
import Track from '../common/Track.astro';

function sortByTrackLength(items: CollectionEntry<"tracks">[]): CollectionEntry<"tracks">[] {
    return items.sort((a, b) => {
        if ((a['data']['length']) < (b['data']['length'])) {
            return -1;
        }
        return 1;
    });
}

const anchor = getAnchor('tracks');
const hikingTracks = sortByTrackLength(await getCollection(
  'tracks',
  ({ data }) => data.type === 'hike'
));
const bikingTracks = sortByTrackLength(await getCollection(
  'tracks',
  ({ data }) => data.type === 'bike'
));
---

<Section id={anchor}>
  <SectionHeader title="Trasy pochodu" />
  <Stack gutter="s4" justify="normal">
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        hikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type={track.data.type}
            description={track.body}
          />
        ))
      }
    </Switcher>
    <Switcher threshold="48rem" gutter="s4" justify="center">
      {
        bikingTracks.map((track) => (
          <Track
            length={track.data.length}
            type={track.data.type}
            description={track.body}
          />
        ))
      }
    </Switcher>
  </Stack>
</Section>
